<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.9" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.6.9" targetFramework="net45" />
  <package id="StacMan" version="0.4.0.0" targetFramework="net45" />
  <package id="Topshelf" version="3.0.2" targetFramework="net45" />
  <package id="twitterizer" version="2.4.1.1" targetFramework="net45" />
</packages>